.mid {
    display: flex;
	justify-content: center;
}

#header {
    background: #333333;
    color: #ffffff;
}

#container {
    min-height: 100vh;
    width: 100%;
}

#main {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px 20px 0px 20px;
}

body {
    margin: 0px;
    --main-size: 200px;
}

#cards {
    display: flex;
    flex-wrap: wrap;
    color: #333333;
    font-size: 24px;
}

.card {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
    background-color: #EFEFEF;
}

.cards {
    width: 100%;
}

.btn {
    background: #72C3DC;
    border: none;
    border-bottom: 3px solid #6F98A8;
    border-radius: 5px;
    color: #ffffff;
    height: 40px;
    margin-left: 10px;
    margin-top: 0px;
    min-width: 100px;
}

h4 {
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.footer{
	padding: 20px;
}
.c1 {
    border-left: 10px solid #6F98A8
}

.c2 {
    border-left: 10px solid #2B8EAD
}

.c3 {
    border-left: 10px solid #2F454E
}

.c4 {
    border-left: 10px solid #2B8EAD
}

.c5 {
    border-left: 10px solid #2F454E
}

.c6 {
    border-left: 10px solid #BFBFBF
}

.c7 {
    border-left: 10px solid #BFBFBF
}

.c8 {
    border-left: 10px solid #6F98A8
}

.c9 {
    border-left: 10px solid #2F454E
}

.menu {
    width: 100%;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px 20px 0px;
}
.btn:active { 
	transform: scale(0.98); 
} 
@media only screen and (min-width: 768px) {
    body {
        background-color: #EFEFEF;

    }

    #header {
        background: unset;
        color: unset;
    }

    #cards {
        width: 75%;
        color: #ffffff;
        font-size: 32px;

    }

    #main {
		display: flex;
		flex-direction: row;
        padding: 0px;
    }

    .card {
        width: 33.33%;
        height: var(--main-size);
		border-left: unset !important;
		margin-top: unset;
		
    }

    .btn {
        width: 150px;
        height: 40px;
        margin-top: 20px;
		margin-left: 0px;
		font-weight: bold;
    }

    .menu {
        width: 25%;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: unset;

    }

    .c1 {
        background: #6F98A8
    }

    .c2 {
        background: #2B8EAD
    }

    .c3 {
        background: #2F454E
    }

    .c4 {
        background: #2B8EAD
    }

    .c5 {
        background: #2F454E
    }

    .c6 {
        background: #BFBFBF
    }

    .c7 {
        background: #BFBFBF
    }

    .c8 {
        background: #6F98A8
    }

    .c9 {
        background: #2F454E
    }
}